html,
body,
.root {
  height: 100%;
}
body {
  line-height: 1.5;
}
body,
.app {
  background: #121c3f;
  color: white;
}

.pink {
  color: #e52056;
  font-size: calc(12px + 2vmin);
  letter-spacing: 3px;
}

/* main page */

.list-books-title {
  padding: 10px 0;
  background: #253362;
  text-align: center;
  text-transform: uppercase;
  font-size: calc(10px + 1vmin);
}
.list-books-title h1 {
  font-weight: 700;
  margin: 0;
  letter-spacing: 2px;
  font-size: calc(15px + 2vmin);
  color: white;
}

.list-books-content {
  display: grid;
  grid-template-columns: 20px 1fr 20px;
}

.list-books-content > * {
  grid-column: 2/-2;
}

.list-books-content > .full {
  grid-column: 1/-1;
}

.bookshelf-title {
  margin: 20px 0 0px 0px;
  font-weight: 600;
  font-size: 25px;
  background: rgba(255, 255, 255, 0.808);
  padding: 20px;
  color: #080e25;
}

.bookshelf-books {
  display: grid;
  grid-template-columns: 20px 1fr 20px;
  text-align: left;
  margin-bottom: 30px;
}

.open-search {
  position: fixed;
  right: 25px;
  bottom: 25px;
}
.open-search a {
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #e52056;
  background-image: url("./icons/add.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 28px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  font-size: 0;
}

/* search page */

.search-books-bar {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 5;
  display: flex;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 0 6px rgba(0, 0, 0, 0.23);
}
.search-books-input-wrapper {
  flex: 1;
  background: #e9e;
}
.search-books-bar input {
  width: 100%;
  padding: 15px 10px;
  font-size: 1.25em;
  border: none;
  outline: none;
  color: #e52056;
}

.close-search {
  display: block;
  top: 20px;
  left: 15px;
  width: 50px;
  height: 53px;
  background: white;
  background-image: url("./icons/arrow-back.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 28px;
  font-size: 0;
}

/* search results */
.search-books-results {
  margin-top: 100px;
  margin-left: auto;
}

.search-books-results {
  display: grid;
  grid-template-columns: 50px 1fr 50px;
}

.searchResults {
  grid-column: 1/-1;
}

.results-grid {
  grid-column: 2/-2;
}

/* books grid */
.books-grid {
  padding: 10px 0;
  list-style: none;
  grid-column: 2/-2;
  
}

.books-grid {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(180px, auto));
  justify-content: center;
  
}

.bookshelf-books {
  background: #253362b4;
}

/* individual book */
.book-li {
  width: 180px;
}

.book-info {
  padding-right: 25px;
  line-height: 1.2;
}

.book-info h2 {
  margin: 0px 0px 5px 0px;
  line-height: 1.2;
  font-size: 17px;
  margin-top: 10px;
}

.book-info h3 {
  margin-top: 10px;
  font-weight: 400;
  font-size: 14px;
  color: rgb(204, 204, 204);
}

.book-title {
  margin: 0;
  padding: 0;
  font-size: 0.8em;
}

.book-authors {
  margin: 0;
  padding: 0;
}


.book-shelf-changer {
  position: relative;
  margin-left: 118px;
  bottom: 20px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #e52056;
  background-image: url("./icons/arrow-drop-down.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 40px;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.16), 0 3px 3px rgba(0, 0, 0, 0.23);
}

.book-shelf-changer select {
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

/* book cover */

.book-cover {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  background: #eee;
}

/* Personalized */
.searchResults {
  letter-spacing: 2px;
  text-align: center;
  
}

@media screen and (max-width: 720px) {

  .list-books-content {
    margin-top: 20px;
  }
  .main-grid {
    width: 100%;
    max-height: 60vh;
    overflow-x: hidden;
    overflow-y: scroll;
    grid-template-columns: 1fr;
  }

  .bookshelf-title {
    margin: 0;
    padding: 10px;
    background: rgba(255, 255, 255, 0.808);
    color: #121c3f;
    font-weight: 600;
  }

  .bookshelf {
    margin: 0 10px;
  }

  .bookshelf-books {
    background: #44538883;
    box-shadow: 2px 2px 10px 2px inset #463797;
  }

  .book-li {
    width: 98%;
    border-radius: 10px;
  }


  .book-cover {
    box-shadow: 2px 2px 10px 2px #080e25;
  }

  .book {
    display: flex;
    width: 100%;
    height: 190px;
    background: #5e4292;
    box-shadow: 2px 2px 2px 0px #080e25;
  }

  .book-info {
    margin: 10px 5px;
  }

  .book-info h2 {
    font-size: 1.5em;
  }

  .book-info h3 {
    font-size: 1em;
  }
}
