html,
body,
.root {
  height: 100%;
}

body {
  line-height: 1.5;
}

body,
.app {
  color: #444444;
}

h2 {
  font-size: calc(7px + 2vmin);
  margin: 0;
  overflow: hidden;
  word-break: break-word;
  text-overflow: inherit;
}

h3 {
  font-weight: 400;
  margin: 5px 0;
  font-size: calc(6px + 2vmin);
}

/* main page */

.list-books-title {
  margin: 20px 0;
  padding-bottom: 10px;
  text-transform: uppercase;
  border-bottom: 3px solid orange;
}

.list-books-title h1 {
  padding-left: 15px;
  font-weight: 700;
  margin: 0;
  letter-spacing: 2px;
  font-size: calc(18px + 2vmin);
  color: #219653;
}

.bookshelf {
  margin: 0 0 20px 10px;
  padding-bottom: 10px;
}

.bookshelf-header {
  display: flex;
  justify-content: space-between;
}

.bookshelf-title {
  font-weight: 600;
  font-size: calc(10px + 2vmin);
  color: #666666;
  padding: 0 0 10px 5px;
}

.bookshelf-view {
  font-weight: 400;
  font-size: calc(7px + 2vmin);
  padding: 0 10px;
  letter-spacing: 1px;
}

.main-grid {
  width: 100%;
  max-height: 60vh;
  overflow-x: scroll;
  display: flex;
  padding: 0 0 0 10px;
}

.book {
  padding-right: 5vmin;
  width: 135px;
}

.book-li {
  list-style: none;
}

.book-info {
  margin-top: -20px;
  line-height: 1.2;
  padding-right: 3vmin;
}

.open-search {
  position: fixed;
  right: 15px;
  bottom: 15px;
}
.open-search a {
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: orange;
  background-image: url("./icons/add.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 28px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  font-size: 0;
}

/* search page */

.search-books-bar {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 5;
  display: flex;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 0 6px rgba(0, 0, 0, 0.23);
}
.search-books-input-wrapper {
  flex: 1;
  background: #e9e;
}
.search-books-bar input {
  width: 100%;
  padding: 15px 10px;
  font-size: 1.25em;
  border: none;
  outline: none;
  color: #e52056;
}

.close-search {
  display: block;
  top: 20px;
  left: 15px;
  width: 50px;
  height: 53px;
  background: white;
  background-image: url("./icons/arrow-back.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 28px;
  font-size: 0;
}

/* search results */
.search-books-results {
  margin-top: 100px;
  margin-left: auto;
}

.search-books-results {
  display: grid;
  grid-template-columns: 50px 1fr 50px;
}

.searchResults {
  grid-column: 1/-1;
}

.results-grid {
  grid-column: 2/-2;
}

.book-shelf-changer {
  position: relative;
  margin-left: 80px;
  bottom: 30px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #219653;
  background-image: url("./icons/arrow-drop-down.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 40px;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.16), 0 3px 3px rgba(0, 0, 0, 0.23);
}

.book-shelf-changer select {
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

/* Personalized */
.searchResults {
  letter-spacing: 2px;
  text-align: center;
}

@media screen and (max-width: 720px) {
  .list-books-content {
    margin-top: 20px;
  }
}
